# Stock Market Analysis Using R
Muhammad Saqeeb, Cindy Lee
1. Loading Data
2. Computing Dividends

## Loading Data

In [1]:
library(plyr)

In [2]:
library(tidyr)
library(dplyr)
library(lubridate)
library(ggplot2)
IBM <- read.csv("~/IBM.csv")
MSFT <- read.csv("~/MSFT.csv")
GOOG <- read.csv("~/GOOG.csv")
AAPL <- read.csv("~/AAPL.csv")
AMZN <- read.csv("~/AMZN.csv")
META <- read.csv("~/META.csv")
NFLX <- read.csv("~/NFLX.csv")
TSLA <- read.csv("~/TSLA.csv")
ORCL <- read.csv("~/ORCL.csv")
SAP <-read.csv("~/SAP.csv")
JPY <-read.csv("~/JPY=x.csv")

dates <- read.csv("~/IBM.csv")[,c("Date")]

Warning message:
"package 'tidyr' was built under R version 4.0.5"
Registered S3 methods overwritten by 'tibble':
  method     from
  format.tbl pillar
  print.tbl  pillar

Warning message:
"package 'dplyr' was built under R version 4.0.4"

Attaching package: 'dplyr'


The following objects are masked from 'package:plyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union



Attaching package: 'lubridate'


The following objects are masked from 'package:base':

    date, intersect, setdiff, union

## Computing Dividends

In [3]:
#Function for Daily dividened
caldiv <- function(df) {
    df %>% mutate(
        change = df$Close - lag(df$Close),
        Adj.change = df$Adj.Close - lag(df$Adj.Close),
        diff = change - Adj.change> 0.01,
        dividend = round((diff * df$Close),2),
    )
}

In [4]:
universe = cbind(Date = AAPL$Date, Apple_Close = AAPL$Close, Apple_AdjClose = AAPL$Adj.Close,
                      "Amazon_Close"=c(AMZN$Close),"Amazon_AdjClose"=c(AMZN$Adj.Close),
                      "META_Close"=c(META$Close),"META_AdjClose"=c(META$Adj.Close),
                      Google_Close=c(GOOG$Close),Google_AdjClose=c(GOOG$Adj.Close),
                      ibm_Close=c(IBM$Close),ibm_AdjClose=c(IBM$Adj.Close),
                      MSFT_Close=c(MSFT$Close),MSFT_AdjClose=c(MSFT$Adj.Close),
                     NFLX_Close=c(NFLX$Close),NFLX_AdjClose=c(NFLX$Adj.Close),
                      ORCL_Close=c(ORCL$Close),ORCL_AdjClose=c(ORCL$Adj.Close),
                      SAP_Close=c(SAP$Close),SAP_AdjClose=c(SAP$Adj.Close),
                     TSLA_Close=c(TSLA$Close),TSLA_AdjClose=c(TSLA$Adj.Close))

Stocks = as.data.frame(universe[seq(1,nrow(universe)),])
head(Stocks)

Warning message in cbind(Date = AAPL$Date, Apple_Close = AAPL$Close, Apple_AdjClose = AAPL$Adj.Close, :
"number of rows of result is not a multiple of vector length (arg 4)"

  Date       Apple_Close Apple_AdjClose Amazon_Close Amazon_AdjClose META_Close
1 2018-01-02 43.064999   41.075401      59.4505      59.4505         181.419998
2 2018-01-03 43.057499   41.068253      60.209999    60.209999       184.669998
3 2018-01-04 43.2575     41.25901       60.4795      60.4795         184.330002
4 2018-01-05 43.75       41.728752      61.457001    61.457001       186.850006
5 2018-01-08 43.587502   41.573757      62.343498    62.343498       188.279999
6 2018-01-09 43.5825     41.568993      62.634998    62.634998       187.869995
  META_AdjClose Google_Close Google_AdjClose ibm_Close  ... MSFT_Close
1 181.419998    1065         1065            147.466537 ... 85.949997
2 184.669998    1082.47998   1082.47998      151.520081 ... 86.349998
3 184.330002    1086.400024  1086.400024     154.588913 ... 87.110001
4 186.850006    1102.22998   1102.22998      155.344162 ... 88.190002
5 188.279999    1106.939941  1106.939941     156.281067 ... 88.279999
6 187.869995    1106.26001   1106.26001      156.625244 ... 88.220001
  MSFT_AdjClose NFLX_Close NFLX_AdjClose ORCL_Close ORCL_AdjClose SAP_Close
1 81.340775     201.070007 201.070007    23.110001  23.110001     112.389999
2 81.71933      205.050003 205.050003    22.620001  22.620001     113.309998
3 82.438583     205.630005 205.630005    22.129999  22.129999     115.050003
4 83.460655     209.990005 209.990005    22         22            116.330002
5 83.54583      212.050003 212.050003    22.370001  22.370001     114.800003
6 83.489052     209.309998 209.309998    21.65      21.65         114.160004
  SAP_AdjClose TSLA_Close TSLA_AdjClose
1 102.892708   64.106003  64.106003
2 103.73497    63.450001  63.450001
3 105.327942   62.924     62.924
4 106.499779   63.316002  63.316002
5 105.099068   67.281998  67.281998
6 104.513153   66.737999  66.737999

In [5]:
Stocks$Apple_Close <- as.double(Stocks$Apple_Close)
Stocks$Apple_AdjClose <- as.double(Stocks$Apple_AdjClose)
Stocks$Amazon_Close <- as.double(Stocks$Amazon_Close)
Stocks$Amazon_AdjClose <- as.double(Stocks$Amazon_AdjClose)
Stocks$META_Close <- as.double(Stocks$META_Close)
Stocks$META_AdjClose <- as.double(Stocks$META_AdjClose)
Stocks$Google_Close <- as.double(Stocks$Google_Close)
Stocks$Google_AdjClose <- as.double(Stocks$Google_AdjClose)
Stocks$ibm_Close <- as.double(Stocks$ibm_Close)
Stocks$ibm_AdjClose <- as.double(Stocks$ibm_AdjClose)
Stocks$MSFT_Close <- as.double(Stocks$MSFT_Close)
Stocks$MSFT_AdjClose <- as.double(Stocks$MSFT_AdjClose)
Stocks$NFLX_Close <- as.double(Stocks$NFLX_Close)
Stocks$NFLX_AdjClose <- as.double(Stocks$NFLX_AdjClose)
Stocks$TSLA_Close <- as.double(Stocks$TSLA_Close)
Stocks$TSLA_AdjClose <- as.double(Stocks$TSLA_AdjClose)
Stocks$SAP_Close <- as.double(Stocks$SAP_Close)
Stocks$SAP_AdjClose <- as.double(Stocks$SAP_AdjClose)
Stocks$ORCL_Close <- as.double(Stocks$ORCL_Close)
Stocks$ORCL_AdjClose <- as.double(Stocks$ORCL_AdjClose)

In [6]:
StockSplit_5 = Stocks[seq(1,nrow(Stocks),5),]
StockSplit_5$Date = as.Date(StockSplit_5$Date)
head(StockSplit_5)

   Date       Apple_Close Apple_AdjClose Amazon_Close Amazon_AdjClose
1  2018-01-02 43.0650     41.07540       59.4505      59.4505
6  2018-01-09 43.5825     41.56899       62.6350      62.6350
11 2018-01-17 44.7750     42.70640       64.7500      64.7500
16 2018-01-24 43.5550     41.54277       67.8755      67.8755
21 2018-01-31 41.8575     39.92369       72.5445      72.5445
26 2018-02-07 39.8850     38.04231       70.8390      70.8390
   META_Close META_AdjClose Google_Close Google_AdjClose ibm_Close ...
1  181.42     181.42        1065.00      1065.00         147.4665  ...
6  187.87     187.87        1106.26      1106.26         156.6252  ...
11 177.60     177.60        1131.98      1131.98         161.2333  ...
16 186.55     186.55        1164.24      1164.24         158.0975  ...
21 186.89     186.89        1169.94      1169.94         156.5010  ...
26 180.18     180.18        1048.58      1048.58         147.0841  ...
   MSFT_Close MSFT_AdjClose NFLX_Close NFLX_AdjClose ORCL_Close ORCL_AdjClose
1  85.95      81.34077      201.07     201.07        23.11      23.11
6  88.22      83.48905      209.31     209.31        21.65      21.65
11 90.14      85.30610      217.50     217.50        24.70      24.70
16 91.82      86.89599      261.30     261.30        26.01      26.01
21 95.01      89.91492      270.30     270.30        25.07      25.07
26 89.61      84.80451      264.56     264.56        23.12      23.12
   SAP_Close SAP_AdjClose TSLA_Close TSLA_AdjClose
1  112.39    102.89271    64.106     64.106
6  114.16    104.51315    66.738     66.738
11 111.19    101.79411    69.432     69.432
16 114.37    104.70541    69.178     69.178
21 113.25    103.68004    70.862     70.862
26 105.09     96.20959    69.000     69.000

In [7]:
StockSplit_5[StockSplit_5$Date=='2018-01-02',]

  Date       Apple_Close Apple_AdjClose Amazon_Close Amazon_AdjClose META_Close
1 2018-01-02 43.065      41.0754        59.4505      59.4505         181.42
  META_AdjClose Google_Close Google_AdjClose ibm_Close ... MSFT_Close
1 181.42        1065         1065            147.4665  ... 85.95
  MSFT_AdjClose NFLX_Close NFLX_AdjClose ORCL_Close ORCL_AdjClose SAP_Close
1 81.34077      201.07     201.07        23.11      23.11         112.39
  SAP_AdjClose TSLA_Close TSLA_AdjClose
1 102.8927     64.106     64.106

In [8]:
a = StockSplit_5[StockSplit_5$Date=='2018-01-02',
                  c('ibm_Close','MSFT_Close','Google_Close','Amazon_Close','META_Close')]
a

  ibm_Close MSFT_Close Google_Close Amazon_Close META_Close
1 147.4665  85.95      1065         59.4505      181.42

## Strategy 1 without dividened

In [9]:
Total = 5000000
options(digits=9)
Remaining = Total
split = Total/5
MTM = 0
start_date = mdy('01/02/2018')
begin_date <- mdy('01/02/2018')
end_date =  mdy('12/28/2018')
AllStocks = c('ibm_AdjClose','MSFT_AdjClose','Google_AdjClose','Apple_AdjClose','Amazon_AdjClose','META_AdjClose','NFLX_AdjClose','TSLA_AdjClose','ORCL_AdjClose','SAP_AdjClose')
IntialStocks = c('ibm_Close','MSFT_Close','Google_Close','Amazon_Close','META_Close')
SharesCount = list()

In [10]:
while(start_date <= end_date){
    # executes the first day
    if(start_date == '2018-01-02'){
          for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split/a[i])
        SharesCount[i] =  b[[i]] 
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        colnames(Remaining) = 'Remaining'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        colnames(MTM) = 'MTM'
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        
    }

    

    else if(start_date %in% StockSplit_5$Date) {

        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        Total = MTM + Remaining
        Remaining = Total
        split = Total / 5
        colnames(Total) = 'Total'
        colnames(MTM) = 'MTM'
        calculated_stocks = list()
        for(i in AllStocks){
           
            x = Stocks[Stocks$Date== start_date, AllStocks]
            y = Stocks[Stocks$Date== begin_date, AllStocks]
            percent_change = 100 * ((x[i] - y[i])/ y[i])
            col = paste0(i, "_PC")
            calculated_stocks[col] = percent_change
            
        }
        calculated_stocks = calculated_stocks[order(unlist(calculated_stocks))]
        ## ONLY CHANGE HEADS TO TAILS
        calculated_stocks = head(calculated_stocks,5)
        

        initial_col_list = names(calculated_stocks)
        print(initial_col_list)
        initial_col_list = sub('_.*','',initial_col_list)
        initial_col_list = paste0(initial_col_list,'_Close')
        IntialStocks = initial_col_list
        SharesCount = list()
        b = list()
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split[,1]/a[i])
        SharesCount[i] =  b[[i]]
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        
        
    }
        

    else {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        colnames(MTM) = 'MTM'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
      
    }
start_date = start_date+1

}
sr1_5 = c('StockSplit_5',MTM = tail(Stocks$MTM,1))
output_1 = c('Profit:', MTM-5000000)
sr1_5
output_1
tail(Stocks)

[1] "ORCL_AdjClose_PC"  "Apple_AdjClose_PC" "SAP_AdjClose_PC"
[4] "MSFT_AdjClose_PC"  "META_AdjClose_PC"
[1] "META_AdjClose_PC"   "SAP_AdjClose_PC"    "Apple_AdjClose_PC"
[4] "MSFT_AdjClose_PC"   "Google_AdjClose_PC"
[1] "Apple_AdjClose_PC" "SAP_AdjClose_PC"   "META_AdjClose_PC"
[4] "MSFT_AdjClose_PC"  "ibm_AdjClose_PC"
[1] "Apple_AdjClose_PC" "SAP_AdjClose_PC"   "META_AdjClose_PC"
[4] "ibm_AdjClose_PC"   "ORCL_AdjClose_PC"
[1] "Apple_AdjClose_PC"  "SAP_AdjClose_PC"    "Google_AdjClose_PC"
[4] "META_AdjClose_PC"   "ibm_AdjClose_PC"
[1] "SAP_AdjClose_PC"    "Apple_AdjClose_PC"  "META_AdjClose_PC"
[4] "Google_AdjClose_PC" "TSLA_AdjClose_PC"
[1] "SAP_AdjClose_PC"   "META_AdjClose_PC"  "ibm_AdjClose_PC"
[4] "Apple_AdjClose_PC" "ORCL_AdjClose_PC"
[1] "SAP_AdjClose_PC"    "META_AdjClose_PC"   "Google_AdjClose_PC"
[4] "ibm_AdjClose_PC"    "Apple_AdjClose_PC"
[1] "SAP_AdjClose_PC"   "META_AdjClose_PC"  "ibm_AdjClose_PC"
[4] "TSLA_AdjClose_PC"  "Apple_AdjClose_PC"
[1] "SAP_AdjClose_PC"   "ORCL_AdjClose_PC"  "META_AdjClose_PC"
[4] "TSLA_AdjClose_PC"  "Apple_AdjClose_PC"
[1] "META_AdjClose_PC"  "SAP_AdjClose_PC"   "ORCL_AdjClose_PC"
[4] "TSLA_AdjClose_PC"  "Apple_AdjClose_PC"
[1] "TSLA_AdjClose_PC"   "META_AdjClose_PC"   "ORCL_AdjClose_PC"
[4] "SAP_AdjClose_PC"    "Google_AdjClose_PC"
[1] "META_AdjClose_PC"   "TSLA_AdjClose_PC"   "SAP_AdjClose_PC"
[4] "Google_AdjClose_PC" "ORCL_AdjClose_PC"
[1] "META_AdjClose_PC"   "TSLA_AdjClose_PC"   "SAP_AdjClose_PC"
[4] "Google_AdjClose_PC" "ORCL_AdjClose_PC"
[1] "TSLA_AdjClose_PC"  "META_AdjClose_PC"  "SAP_AdjClose_PC"
[4] "ibm_AdjClose_PC"   "Apple_AdjClose_PC"
[1] "TSLA_AdjClose_PC"   "Apple_AdjClose_PC"  "META_AdjClose_PC"
[4] "ibm_AdjClose_PC"    "Google_AdjClose_PC"
[1] "TSLA_AdjClose_PC"   "ibm_AdjClose_PC"    "META_AdjClose_PC"
[4] "Google_AdjClose_PC" "ORCL_AdjClose_PC"
[1] "TSLA_AdjClose_PC"   "ibm_AdjClose_PC"    "META_AdjClose_PC"
[4] "Google_AdjClose_PC" "SAP_AdjClose_PC"
[1] "TSLA_AdjClose_PC"   "ibm_AdjClose_PC"    "ORCL_AdjClose_PC"
[4] "Google_AdjClose_PC" "META_AdjClose_PC"
[1] "TSLA_AdjClose_PC"   "ibm_AdjClose_PC"    "ORCL_AdjClose_PC"
[4] "Google_AdjClose_PC" "META_AdjClose_PC"
[1] "ORCL_AdjClose_PC" "TSLA_AdjClose_PC" "ibm_AdjClose_PC"  "SAP_AdjClose_PC"
[5] "META_AdjClose_PC"
[1] "ibm_AdjClose_PC"    "ORCL_AdjClose_PC"   "TSLA_AdjClose_PC"
[4] "META_AdjClose_PC"   "Google_AdjClose_PC"
[1] "ibm_AdjClose_PC"    "SAP_AdjClose_PC"    "META_AdjClose_PC"
[4] "Google_AdjClose_PC" "Apple_AdjClose_PC"
[1] "ibm_AdjClose_PC"    "TSLA_AdjClose_PC"   "SAP_AdjClose_PC"
[4] "Google_AdjClose_PC" "Apple_AdjClose_PC"
[1] "ibm_AdjClose_PC"    "SAP_AdjClose_PC"    "TSLA_AdjClose_PC"
[4] "Google_AdjClose_PC" "META_AdjClose_PC"
[1] "ibm_AdjClose_PC"    "TSLA_AdjClose_PC"   "SAP_AdjClose_PC"
[4] "Google_AdjClose_PC" "Apple_AdjClose_PC"
[1] "ibm_AdjClose_PC"    "TSLA_AdjClose_PC"   "SAP_AdjClose_PC"
[4] "Apple_AdjClose_PC"  "Google_AdjClose_PC"
[1] "TSLA_AdjClose_PC"  "ibm_AdjClose_PC"   "SAP_AdjClose_PC"
[4] "ORCL_AdjClose_PC"  "Apple_AdjClose_PC"
[1] "TSLA_AdjClose_PC"  "META_AdjClose_PC"  "ibm_AdjClose_PC"
[4] "SAP_AdjClose_PC"   "Apple_AdjClose_PC"
[1] "ibm_AdjClose_PC"    "META_AdjClose_PC"   "SAP_AdjClose_PC"
[4] "ORCL_AdjClose_PC"   "Google_AdjClose_PC"
[1] "ibm_AdjClose_PC"  "META_AdjClose_PC" "SAP_AdjClose_PC"  "TSLA_AdjClose_PC"
[5] "ORCL_AdjClose_PC"
[1] "META_AdjClose_PC"   "ibm_AdjClose_PC"    "TSLA_AdjClose_PC"
[4] "SAP_AdjClose_PC"    "Google_AdjClose_PC"
[1] "META_AdjClose_PC"   "TSLA_AdjClose_PC"   "ibm_AdjClose_PC"
[4] "SAP_AdjClose_PC"    "Google_AdjClose_PC"
[1] "TSLA_AdjClose_PC"   "META_AdjClose_PC"   "ibm_AdjClose_PC"
[4] "SAP_AdjClose_PC"    "Google_AdjClose_PC"
[1] "META_AdjClose_PC"   "TSLA_AdjClose_PC"   "ibm_AdjClose_PC"
[4] "Google_AdjClose_PC" "SAP_AdjClose_PC"
[1] "META_AdjClose_PC"   "TSLA_AdjClose_PC"   "ibm_AdjClose_PC"
[4] "SAP_AdjClose_PC"    "Google_AdjClose_PC"
[1] "META_AdjClose_PC"   "TSLA_AdjClose_PC"   "ibm_AdjClose_PC"
[4] "Google_AdjClose_PC" "SAP_AdjClose_PC"
[1] "META_AdjClose_PC"   "TSLA_AdjClose_PC"   "ibm_AdjClose_PC"
[4] "SAP_AdjClose_PC"    "Google_AdjClose_PC"
[1] "TSLA_AdjClose_PC"   "META_AdjClose_PC"   "ibm_AdjClose_PC"
[4] "Google_AdjClose_PC" "SAP_AdjClose_PC"
[1] "TSLA_AdjClose_PC"   "META_AdjClose_PC"   "ibm_AdjClose_PC"
[4] "SAP_AdjClose_PC"    "Google_AdjClose_PC"
[1] "META_AdjClose_PC"   "ibm_AdjClose_PC"    "TSLA_AdjClose_PC"
[4] "SAP_AdjClose_PC"    "Google_AdjClose_PC"
[1] "ibm_AdjClose_PC"    "META_AdjClose_PC"   "SAP_AdjClose_PC"
[4] "Google_AdjClose_PC" "TSLA_AdjClose_PC"
[1] "META_AdjClose_PC"   "ibm_AdjClose_PC"    "SAP_AdjClose_PC"
[4] "Google_AdjClose_PC" "TSLA_AdjClose_PC"
[1] "META_AdjClose_PC"   "ibm_AdjClose_PC"    "SAP_AdjClose_PC"
[4] "Google_AdjClose_PC" "TSLA_AdjClose_PC"
[1] "META_AdjClose_PC"   "ibm_AdjClose_PC"    "SAP_AdjClose_PC"
[4] "Google_AdjClose_PC" "Apple_AdjClose_PC"
[1] "META_AdjClose_PC"   "ibm_AdjClose_PC"    "SAP_AdjClose_PC"
[4] "Google_AdjClose_PC" "Apple_AdjClose_PC"
[1] "META_AdjClose_PC"   "ibm_AdjClose_PC"    "SAP_AdjClose_PC"
[4] "Google_AdjClose_PC" "Apple_AdjClose_PC"
[1] "META_AdjClose_PC"   "ibm_AdjClose_PC"    "SAP_AdjClose_PC"
[4] "Apple_AdjClose_PC"  "Google_AdjClose_PC"
[1] "META_AdjClose_PC"   "ibm_AdjClose_PC"    "SAP_AdjClose_PC"
[4] "Apple_AdjClose_PC"  "Google_AdjClose_PC"

                          MTM
"StockSplit_5"             NA

[[1]]
[1] "Profit:"

$MTM
[1] 835459.881

    Date       Apple_Close Apple_AdjClose Amazon_Close Amazon_AdjClose
246 2018-12-21 37.682499   36.481171      68.872498    68.872498
247 2018-12-24 36.707500   35.537254      67.197998    67.197998
248 2018-12-26 39.292500   38.039848      73.544998    73.544998
249 2018-12-27 39.037498   37.792973      73.082001    73.082001
250 2018-12-28 39.057499   37.812336      73.901001    73.901001
251 2018-12-31 39.435001   38.177803      59.450500    59.450500
    META_Close META_AdjClose Google_Close Google_AdjClose ibm_Close  ...
246 124.949997 124.949997     979.539978   979.539978     106.061188 ...
247 124.059998 124.059998     976.219971   976.219971     102.839386 ...
248 134.179993 134.179993    1039.459961  1039.459961     106.491394 ...
249 134.520004 134.520004    1043.880005  1043.880005     108.776291 ...
250 133.199997 133.199997    1037.079956  1037.079956     108.059273 ...
251 131.089996 131.089996    1065.000000  1065.000000     147.466537 ...
    NFLX_Close NFLX_AdjClose ORCL_Close ORCL_AdjClose SAP_Close  SAP_AdjClose
246 246.389999 246.389999    25.049999  25.049999      96.139999  89.363167
247 233.880005 233.880005    24.469999  24.469999      95.000000  88.303520
248 253.669998 253.669998    25.549999  25.549999      98.379997  91.445259
249 255.570007 255.570007    24.780001  24.780001      98.989998  92.012260
250 256.079987 256.079987    24.639999  24.639999      99.199997  92.207466
251 201.070007 201.070007    23.110001  23.110001     112.389999 102.892708
    TSLA_Close TSLA_AdjClose Remaining  MTM
246 63.953999  63.953999     253.304447 5598432.84
247 59.077999  59.077999     253.304447 5510153.58
248 65.218002  65.218002     253.304447 5827844.31
249 63.226002  63.226002     253.304447 5859589.82
250 66.774002  66.774002     253.304447 5835459.88
251 64.106003  64.106003             NA         NA

In [11]:
while(start_date <= end_date){

    if(start_date == '2018-01-02'){
          for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split/a[i])
        SharesCount[i] =  b[[i]] 
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        colnames(Remaining) = 'Remaining'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        colnames(MTM) = 'MTM'
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        
}

        else if(start_date %in% StockSplit_5$Date) {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        Total = MTM + Remaining
        Remaining = Total
        split = Total / 5
        colnames(Total) = 'Total'
        colnames(MTM) = 'MTM'
        calculated_stocks = list()
        for(i in AllStocks){
           
            x = Stocks[Stocks$Date== start_date, AllStocks]
            y = Stocks[Stocks$Date== begin_date, AllStocks]
            percent_change = 100 * ((x[i] - y[i])/ y[i])
            col = paste0(i, "_PC")
            calculated_stocks[col] = percent_change
            
        }
        calculated_stocks = calculated_stocks[order(unlist(calculated_stocks))]
            ### CHANGED HEADS TO TAILS
        calculated_stocks = tail(calculated_stocks,5)
        

        initial_col_list = names(calculated_stocks)
        initial_col_list = sub('_.*','',initial_col_list)
        initial_col_list = paste0(initial_col_list,'_Close')
        IntialStocks = initial_col_list
        SharesCount = list()
        b = list()
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split[,1]/a[i])
        SharesCount[i] =  b[[i]]
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        
        
    }
        
    else {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        colnames(MTM) = 'MTM'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
      
    }
start_date = start_date+1
}
sr2_5 = c('StockSplit_5',MTM = tail(Stocks$MTM,1))
output_2 = c('Loss:', 5000000 - MTM)
sr2_5
output_2
tail(Stocks)

                          MTM
"StockSplit_5"             NA

[[1]]
[1] "Loss:"

$MTM
[1] -835459.881

    Date       Apple_Close Apple_AdjClose Amazon_Close Amazon_AdjClose
246 2018-12-21 37.682499   36.481171      68.872498    68.872498
247 2018-12-24 36.707500   35.537254      67.197998    67.197998
248 2018-12-26 39.292500   38.039848      73.544998    73.544998
249 2018-12-27 39.037498   37.792973      73.082001    73.082001
250 2018-12-28 39.057499   37.812336      73.901001    73.901001
251 2018-12-31 39.435001   38.177803      59.450500    59.450500
    META_Close META_AdjClose Google_Close Google_AdjClose ibm_Close  ...
246 124.949997 124.949997     979.539978   979.539978     106.061188 ...
247 124.059998 124.059998     976.219971   976.219971     102.839386 ...
248 134.179993 134.179993    1039.459961  1039.459961     106.491394 ...
249 134.520004 134.520004    1043.880005  1043.880005     108.776291 ...
250 133.199997 133.199997    1037.079956  1037.079956     108.059273 ...
251 131.089996 131.089996    1065.000000  1065.000000     147.466537 ...
    NFLX_Close NFLX_AdjClose ORCL_Close ORCL_AdjClose SAP_Close  SAP_AdjClose
246 246.389999 246.389999    25.049999  25.049999      96.139999  89.363167
247 233.880005 233.880005    24.469999  24.469999      95.000000  88.303520
248 253.669998 253.669998    25.549999  25.549999      98.379997  91.445259
249 255.570007 255.570007    24.780001  24.780001      98.989998  92.012260
250 256.079987 256.079987    24.639999  24.639999      99.199997  92.207466
251 201.070007 201.070007    23.110001  23.110001     112.389999 102.892708
    TSLA_Close TSLA_AdjClose Remaining  MTM
246 63.953999  63.953999     253.304447 5598432.84
247 59.077999  59.077999     253.304447 5510153.58
248 65.218002  65.218002     253.304447 5827844.31
249 63.226002  63.226002     253.304447 5859589.82
250 66.774002  66.774002     253.304447 5835459.88
251 64.106003  64.106003             NA         NA

## Calculating Dividened

### 1. IBM

In [12]:
x <- IBM
IBM1 <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend), dividend > 0.01)

IBM1

    Date       dividend
1   2018-01-03 151.52
2   2018-01-04 154.59
3   2018-01-05 155.34
4   2018-01-08 156.28
5   2018-01-09 156.63
6   2018-01-10 156.96
7   2018-01-16 156.64
8   2018-01-17 161.23
9   2018-01-18 161.68
10  2018-01-22 155.45
11  2018-01-23 158.94
12  2018-01-25 158.19
13  2018-01-26 159.98
14  2018-01-31 156.50
15  2018-02-06 148.51
16  2018-02-09 142.93
17  2018-02-12 144.74
18  2018-02-14 147.95
19  2018-02-15 149.15
20  2018-02-16 149.31
21  2018-02-23 148.68
22  2018-02-26 151.61
23  2018-03-02 147.70
24  2018-03-05 150.05
25  2018-03-07 151.36
26  2018-03-09 152.30
27  2018-03-12 153.21
28  2018-03-15 152.59
29  2018-03-16 153.21
30  2018-03-21 149.80
... ...        ...
91  2018-09-19 142.50
92  2018-09-20 144.50
93  2018-09-21 144.69
94  2018-09-26 144.94
95  2018-10-01 146.27
96  2018-10-02 146.99
97  2018-10-12 134.66
98  2018-10-15 134.92
99  2018-10-16 138.74
100 2018-10-22 124.30
101 2018-10-23 125.44
102 2018-11-01 111.69
103 2018-11-05 114.78
104 2018-11-06 117.71
105 2018-11-07 119.35
106 2018-11-09 118.11
107 2018-11-15 116.10
108 2018-11-16 116.22
109 2018-11-21 113.36
110 2018-11-26 114.30
111 2018-11-27 114.75
112 2018-11-28 117.59
113 2018-11-30 118.80
114 2018-12-03 119.80
115 2018-12-06 118.46
116 2018-12-10 115.80
117 2018-12-12 115.83
118 2018-12-18 111.52
119 2018-12-26 106.49
120 2018-12-27 108.78

### 2. GOOGLE

In [13]:
x <- GOOG
GOOG1<- filter(select(caldiv(x), Date, dividend), ! is.na(dividend), dividend > 0.01)
GOOG1

     Date dividend

### 3. AMAZON

In [14]:
x <- AMZN
AMZN1 <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend), dividend > 0.01)
AMZN1

     Date dividend

### 4. FACEBOOK

In [15]:
x <- META
FB <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend), dividend > 0.01)
FB

     Date dividend

### 5. MICROSOFT

In [16]:
x <- MSFT
MSFT1 <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend), dividend > 0.01)
MSFT1

    Date       dividend
1   2018-01-03 86.35
2   2018-01-04 87.11
3   2018-01-05 88.19
4   2018-01-11 88.08
5   2018-01-12 89.60
6   2018-01-17 90.14
7   2018-01-22 91.61
8   2018-01-23 91.90
9   2018-01-25 92.33
10  2018-01-26 94.06
11  2018-01-31 95.01
12  2018-02-06 91.33
13  2018-02-09 88.18
14  2018-02-12 89.13
15  2018-02-13 89.83
16  2018-02-15 92.66
17  2018-02-20 92.72
18  2018-02-22 91.73
19  2018-02-23 94.06
20  2018-02-26 95.42
21  2018-03-05 93.64
22  2018-03-07 93.86
23  2018-03-08 94.43
24  2018-03-09 96.54
25  2018-03-12 96.77
26  2018-03-15 94.18
27  2018-03-16 94.60
28  2018-03-20 93.13
29  2018-03-26 93.78
30  2018-03-29 91.27
... ...        ...
93  2018-09-18 113.21
94  2018-09-20 113.57
95  2018-09-21 114.26
96  2018-09-24 114.67
97  2018-09-27 114.41
98  2018-10-01 115.61
99  2018-10-09 112.26
100 2018-10-12 109.57
101 2018-10-16 111.00
102 2018-10-22 109.63
103 2018-10-25 108.30
104 2018-10-31 106.81
105 2018-11-05 107.51
106 2018-11-07 111.96
107 2018-11-15 107.28
108 2018-11-16 108.29
109 2018-11-21 103.11
110 2018-11-26 106.47
111 2018-11-27 107.14
112 2018-11-28 111.12
113 2018-11-30 110.89
114 2018-12-03 112.09
115 2018-12-06 109.19
116 2018-12-10 107.59
117 2018-12-11 108.59
118 2018-12-12 109.08
119 2018-12-13 109.45
120 2018-12-18 103.97
121 2018-12-26 100.56
122 2018-12-27 101.18

### 6. APPLE

In [17]:
x <- AAPL
AAPL1 <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend), dividend > 0.01)
AAPL1

    Date       dividend
1   2018-01-05 43.75
2   2018-01-11 43.82
3   2018-01-12 44.27
4   2018-01-17 44.78
5   2018-02-06 40.76
6   2018-02-12 40.68
7   2018-02-13 41.08
8   2018-02-14 41.84
9   2018-02-15 43.25
10  2018-02-22 43.12
11  2018-02-23 43.88
12  2018-02-26 44.74
13  2018-03-02 44.05
14  2018-03-08 44.24
15  2018-03-09 44.99
16  2018-03-12 45.43
17  2018-03-26 43.19
18  2018-03-29 41.94
19  2018-04-03 42.10
20  2018-04-04 42.90
21  2018-04-05 43.20
22  2018-04-09 42.51
23  2018-04-10 43.31
24  2018-04-12 43.53
25  2018-04-16 43.96
26  2018-04-17 44.56
27  2018-04-30 41.31
28  2018-05-01 42.28
29  2018-05-02 44.14
30  2018-05-04 45.96
... ...        ...
62  2018-08-31 56.91
63  2018-09-11 55.96
64  2018-09-13 56.60
65  2018-09-20 55.01
66  2018-09-24 55.20
67  2018-09-25 55.55
68  2018-09-27 56.24
69  2018-10-01 56.81
70  2018-10-02 57.32
71  2018-10-03 58.02
72  2018-10-09 56.72
73  2018-10-12 55.53
74  2018-10-16 55.54
75  2018-10-19 54.83
76  2018-10-22 55.16
77  2018-10-23 55.68
78  2018-10-25 54.95
79  2018-10-31 54.72
80  2018-11-01 55.56
81  2018-11-06 50.94
82  2018-11-07 52.49
83  2018-11-15 47.85
84  2018-11-16 48.38
85  2018-11-26 43.65
86  2018-11-28 45.24
87  2018-12-03 46.21
88  2018-12-13 42.74
89  2018-12-18 41.52
90  2018-12-26 39.29
91  2018-12-31 39.44

### 7. SAP

In [18]:
x <- SAP
SAP1 <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend), dividend > 0.01)
SAP1

    Date       dividend
1   2018-01-03 113.31
2   2018-01-04 115.05
3   2018-01-05 116.33
4   2018-01-12 110.13
5   2018-01-16 110.68
6   2018-01-17 111.19
7   2018-01-18 111.67
8   2018-01-19 113.20
9   2018-01-23 114.27
10  2018-01-26 114.54
11  2018-01-31 113.25
12  2018-02-06 108.36
13  2018-02-09 101.99
14  2018-02-12 102.75
15  2018-02-14 105.13
16  2018-02-15 105.56
17  2018-02-22 104.14
18  2018-02-23 104.90
19  2018-02-26 105.31
20  2018-02-28 104.50
21  2018-03-02 102.71
22  2018-03-05 104.60
23  2018-03-06 105.08
24  2018-03-07 107.91
25  2018-03-08 108.34
26  2018-03-09 109.12
27  2018-03-14 108.08
28  2018-03-15 108.49
29  2018-03-21 105.10
30  2018-03-26 104.83
... ...        ...
97  2018-09-14 121.40
98  2018-09-18 120.28
99  2018-09-20 120.13
100 2018-09-21 121.64
101 2018-09-24 122.04
102 2018-09-25 126.61
103 2018-10-01 123.27
104 2018-10-03 122.77
105 2018-10-09 119.38
106 2018-10-12 114.53
107 2018-10-16 117.42
108 2018-10-19 109.02
109 2018-10-25 106.54
110 2018-10-30 105.59
111 2018-10-31 107.26
112 2018-11-02 107.63
113 2018-11-07 109.49
114 2018-11-09 108.31
115 2018-11-13 103.73
116 2018-11-15 105.48
117 2018-11-21 101.51
118 2018-11-26 102.74
119 2018-11-28 104.91
120 2018-12-03 105.29
121 2018-12-10 101.90
122 2018-12-12 103.34
123 2018-12-18 100.08
124 2018-12-26  98.38
125 2018-12-27  98.99
126 2018-12-28  99.20

### 8. oracle

In [19]:
x <- ORCL
ORCL1 <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend), dividend > 0.01)
ORCL1

     Date dividend

### Calculation

In [20]:
dividend_stocks = data.frame(cbind(Date = IBM1$Date,ibm_dividend = IBM1$dividend,msft_dividend = MSFT1$dividend,
                                   apple_dividend = AAPL1$dividend,oracle_dividend = ORCL1$dividend,
                                   sap_dividend = SAP1$dividend))
dividend_stocks

Warning message in cbind(Date = IBM1$Date, ibm_dividend = IBM1$dividend, msft_dividend = MSFT1$dividend, :
"number of rows of result is not a multiple of vector length (arg 1)"

    Date       ibm_dividend msft_dividend apple_dividend sap_dividend
1   2018-01-03 151.52       86.35         43.75          113.31
2   2018-01-04 154.59       87.11         43.82          115.05
3   2018-01-05 155.34       88.19         44.27          116.33
4   2018-01-08 156.28       88.08         44.78          110.13
5   2018-01-09 156.63       89.6          40.76          110.68
6   2018-01-10 156.96       90.14         40.68          111.19
7   2018-01-16 156.64       91.61         41.08          111.67
8   2018-01-17 161.23       91.9          41.84          113.2
9   2018-01-18 161.68       92.33         43.25          114.27
10  2018-01-22 155.45       94.06         43.12          114.54
11  2018-01-23 158.94       95.01         43.88          113.25
12  2018-01-25 158.19       91.33         44.74          108.36
13  2018-01-26 159.98       88.18         44.05          101.99
14  2018-01-31 156.5        89.13         44.24          102.75
15  2018-02-06 148.51       89.83         44.99          105.13
16  2018-02-09 142.93       92.66         45.43          105.56
17  2018-02-12 144.74       92.72         43.19          104.14
18  2018-02-14 147.95       91.73         41.94          104.9
19  2018-02-15 149.15       94.06         42.1           105.31
20  2018-02-16 149.31       95.42         42.9           104.5
21  2018-02-23 148.68       93.64         43.2           102.71
22  2018-02-26 151.61       93.86         42.51          104.6
23  2018-03-02 147.7        94.43         43.31          105.08
24  2018-03-05 150.05       96.54         43.53          107.91
25  2018-03-07 151.36       96.77         43.96          108.34
26  2018-03-09 152.3        94.18         44.56          109.12
27  2018-03-12 153.21       94.6          41.31          108.08
28  2018-03-15 152.59       93.13         42.28          108.49
29  2018-03-16 153.21       93.78         44.14          105.1
30  2018-03-21 149.8        91.27         45.96          104.83
... ...        ...          ...           ...            ...
97  2018-10-12 134.66       114.41        40.68          121.4
98  2018-10-15 134.92       115.61        41.08          120.28
99  2018-10-16 138.74       112.26        41.84          120.13
100 2018-10-22 124.3        109.57        43.25          121.64
101 2018-10-23 125.44       111           43.12          122.04
102 2018-11-01 111.69       109.63        43.88          126.61
103 2018-11-05 114.78       108.3         44.74          123.27
104 2018-11-06 117.71       106.81        44.05          122.77
105 2018-11-07 119.35       107.51        44.24          119.38
106 2018-11-09 118.11       111.96        44.99          114.53
107 2018-11-15 116.1        107.28        45.43          117.42
108 2018-11-16 116.22       108.29        43.19          109.02
109 2018-11-21 113.36       103.11        41.94          106.54
110 2018-11-26 114.3        106.47        42.1           105.59
111 2018-11-27 114.75       107.14        42.9           107.26
112 2018-11-28 117.59       111.12        43.2           107.63
113 2018-11-30 118.8        110.89        42.51          109.49
114 2018-12-03 119.8        112.09        43.31          108.31
115 2018-12-06 118.46       109.19        43.53          103.73
116 2018-12-10 115.8        107.59        43.96          105.48
117 2018-12-12 115.83       108.59        44.56          101.51
118 2018-12-18 111.52       109.08        41.31          102.74
119 2018-12-26 106.49       109.45        42.28          104.91
120 2018-12-27 108.78       103.97        44.14          105.29
121 2018-01-03 151.52       100.56        45.96          101.9
122 2018-01-04 154.59       101.18        46.29          103.34
123 2018-01-05 155.34       86.35         46.84          100.08
124 2018-01-08 156.28       87.11         47.51          98.38
125 2018-01-09 156.63       88.19         47.04          98.99
126 2018-01-10 156.96       88.08         46.91          99.2

## Strategy 2

In [21]:



while(start_date <= end_date){
    
   
    if(start_date == '2018-01-02'){
          for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split/a[i])
        SharesCount[i] =  b[[i]] 
        Remaining = Remaining - b*a[i]
        st_name= sub('_.*','',i)
        name = paste0(st_name,'_','Date')
        name = as.name(name)
        
        value = paste0(st_name,'_Absolute_Dividend')
        value = as.name(value)
        
              
        print(dividend_stocks$IBM_Date)
        
        if(start_date %in% dividend_stocks$name){
            
            print('Hello')

        }
        
        MTM = MTM + b*a[i]
        }
        

        
}

    

    else if(start_date %in% StockSplit_5$Date) {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        Total = MTM + Remaining
        Remaining = Total
        split = Total / 5
        colnames(Total) = 'Total'
        colnames(MTM) = 'MTM'
        calculated_stocks = list()
        for(i in AllStocks){
           
            x = Stocks[Stocks$Date== start_date, AllStocks]
            y = Stocks[Stocks$Date== begin_date, AllStocks]
            percent_change = 100 * ((x[i] - y[i])/ y[i])
            col = paste0(i, "_PC")
            calculated_stocks[col] = percent_change
            
        }
        calculated_stocks = calculated_stocks[order(unlist(calculated_stocks))]
        calculated_stocks = head(calculated_stocks,5)
        
        # update initial stocks
        initial_col_list = names(calculated_stocks)
        initial_col_list = sub('_.*','',initial_col_list)
        initial_col_list = paste0(initial_col_list,'_Close')
        IntialStocks = initial_col_list
        SharesCount = list()
        b = list()
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split[,1]/a[i])
        SharesCount[i] =  b[[i]]
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        
        
    }
        
    # This logic executes every day except the 5th day and returns MTM
    else {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        colnames(MTM) = 'MTM'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
      
    }
        
start_date = start_date+1
    
}
sr1_5 = c('StockSplit_5',MTM = tail(Stocks$MTM,1))
output_3 = c('Profit:', MTM-5000000)
sr1_5
output_3
tail(Stocks)

                          MTM
"StockSplit_5"             NA

[[1]]
[1] "Profit:"

$MTM
[1] 835459.881

    Date       Apple_Close Apple_AdjClose Amazon_Close Amazon_AdjClose
246 2018-12-21 37.682499   36.481171      68.872498    68.872498
247 2018-12-24 36.707500   35.537254      67.197998    67.197998
248 2018-12-26 39.292500   38.039848      73.544998    73.544998
249 2018-12-27 39.037498   37.792973      73.082001    73.082001
250 2018-12-28 39.057499   37.812336      73.901001    73.901001
251 2018-12-31 39.435001   38.177803      59.450500    59.450500
    META_Close META_AdjClose Google_Close Google_AdjClose ibm_Close  ...
246 124.949997 124.949997     979.539978   979.539978     106.061188 ...
247 124.059998 124.059998     976.219971   976.219971     102.839386 ...
248 134.179993 134.179993    1039.459961  1039.459961     106.491394 ...
249 134.520004 134.520004    1043.880005  1043.880005     108.776291 ...
250 133.199997 133.199997    1037.079956  1037.079956     108.059273 ...
251 131.089996 131.089996    1065.000000  1065.000000     147.466537 ...
    NFLX_Close NFLX_AdjClose ORCL_Close ORCL_AdjClose SAP_Close  SAP_AdjClose
246 246.389999 246.389999    25.049999  25.049999      96.139999  89.363167
247 233.880005 233.880005    24.469999  24.469999      95.000000  88.303520
248 253.669998 253.669998    25.549999  25.549999      98.379997  91.445259
249 255.570007 255.570007    24.780001  24.780001      98.989998  92.012260
250 256.079987 256.079987    24.639999  24.639999      99.199997  92.207466
251 201.070007 201.070007    23.110001  23.110001     112.389999 102.892708
    TSLA_Close TSLA_AdjClose Remaining  MTM
246 63.953999  63.953999     253.304447 5598432.84
247 59.077999  59.077999     253.304447 5510153.58
248 65.218002  65.218002     253.304447 5827844.31
249 63.226002  63.226002     253.304447 5859589.82
250 66.774002  66.774002     253.304447 5835459.88
251 64.106003  64.106003             NA         NA

### Strategy 1 dividened

In [22]:



while(start_date <= end_date){
    
   
    if(start_date == '2018-01-02'){
          for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split/a[i])
        SharesCount[i] =  b[[i]] 
        Remaining = Remaining - b*a[i]
        st_name= sub('_.*','',i)
        name = paste0(st_name,'_','Date')
        name = as.name(name)
        
        value = paste0(st_name,'_Absolute_Dividend')
        value = as.name(value)
        
              
        print(dividend_stocks$IBM_Date)
        
        if(start_date %in% dividend_stocks$name){
            
            print('Hello')

        }
        
        MTM = MTM + b*a[i]
        }
        

        
}

    

    else if(start_date %in% StockSplit_5$Date) {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        Total = MTM + Remaining
        Remaining = Total
        split = Total / 5
        colnames(Total) = 'Total'
        colnames(MTM) = 'MTM'
        calculated_stocks = list()
        for(i in AllStocks){
           
            x = Stocks[Stocks$Date== start_date, AllStocks]
            y = Stocks[Stocks$Date== begin_date, AllStocks]
            percent_change = 100 * ((x[i] - y[i])/ y[i])
            col = paste0(i, "_PC")
            calculated_stocks[col] = percent_change
            
        }
        calculated_stocks = calculated_stocks[order(unlist(calculated_stocks))]
        calculated_stocks = head(calculated_stocks,5)
        
        # update initial stocks
        initial_col_list = names(calculated_stocks)
        initial_col_list = sub('_.*','',initial_col_list)
        initial_col_list = paste0(initial_col_list,'_Close')
        IntialStocks = initial_col_list
        SharesCount = list()
        b = list()
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split[,1]/a[i])
        SharesCount[i] =  b[[i]]
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        
        
    }
        
    # This logic executes every day except the 5th day and returns MTM
    else {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        colnames(MTM) = 'MTM'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
      
    }
        
start_date = start_date+1
    
}
sr1_5 = c('StockSplit_5',MTM = tail(Stocks$MTM,1))
output_3 = c('Profit:', MTM-5000000)
sr1_5
output_3
tail(Stocks)

                          MTM
"StockSplit_5"             NA

[[1]]
[1] "Profit:"

$MTM
[1] 835459.881

    Date       Apple_Close Apple_AdjClose Amazon_Close Amazon_AdjClose
246 2018-12-21 37.682499   36.481171      68.872498    68.872498
247 2018-12-24 36.707500   35.537254      67.197998    67.197998
248 2018-12-26 39.292500   38.039848      73.544998    73.544998
249 2018-12-27 39.037498   37.792973      73.082001    73.082001
250 2018-12-28 39.057499   37.812336      73.901001    73.901001
251 2018-12-31 39.435001   38.177803      59.450500    59.450500
    META_Close META_AdjClose Google_Close Google_AdjClose ibm_Close  ...
246 124.949997 124.949997     979.539978   979.539978     106.061188 ...
247 124.059998 124.059998     976.219971   976.219971     102.839386 ...
248 134.179993 134.179993    1039.459961  1039.459961     106.491394 ...
249 134.520004 134.520004    1043.880005  1043.880005     108.776291 ...
250 133.199997 133.199997    1037.079956  1037.079956     108.059273 ...
251 131.089996 131.089996    1065.000000  1065.000000     147.466537 ...
    NFLX_Close NFLX_AdjClose ORCL_Close ORCL_AdjClose SAP_Close  SAP_AdjClose
246 246.389999 246.389999    25.049999  25.049999      96.139999  89.363167
247 233.880005 233.880005    24.469999  24.469999      95.000000  88.303520
248 253.669998 253.669998    25.549999  25.549999      98.379997  91.445259
249 255.570007 255.570007    24.780001  24.780001      98.989998  92.012260
250 256.079987 256.079987    24.639999  24.639999      99.199997  92.207466
251 201.070007 201.070007    23.110001  23.110001     112.389999 102.892708
    TSLA_Close TSLA_AdjClose Remaining  MTM
246 63.953999  63.953999     253.304447 5598432.84
247 59.077999  59.077999     253.304447 5510153.58
248 65.218002  65.218002     253.304447 5827844.31
249 63.226002  63.226002     253.304447 5859589.82
250 66.774002  66.774002     253.304447 5835459.88
251 64.106003  64.106003             NA         NA

### Strategy 2 with dividends

In [23]:



while(start_date <= end_date){
    

    if(start_date == '2018-01-02'){
          for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split/a[i])
        SharesCount[i] =  b[[i]] 
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        colnames(Remaining) = 'Remaining'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        colnames(MTM) = 'MTM'
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        
}

    

    else if(start_date %in% StockSplit_5$Date) {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        Total = MTM + Remaining
        Remaining = Total
        split = Total / 5
        colnames(Total) = 'Total'
        colnames(MTM) = 'MTM'
        calculated_stocks = list()
        for(i in AllStocks){
           
            x = Stocks[Stocks$Date== start_date, AllStocks]
            y = Stocks[Stocks$Date== begin_date, AllStocks]
            percent_change = 100 * ((x[i] - y[i])/ y[i])
            col = paste0(i, "_PC")
            calculated_stocks[col] = percent_change
            
        }
        calculated_stocks = calculated_stocks[order(unlist(calculated_stocks))]
        calculated_stocks = tail(calculated_stocks,5)
        

        initial_col_list = names(calculated_stocks)
        initial_col_list = sub('_.*','',initial_col_list)
        initial_col_list = paste0(initial_col_list,'_Close')
        IntialStocks = initial_col_list
        SharesCount = list()
        b = list()
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split[,1]/a[i])
        SharesCount[i] =  b[[i]]
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        
        
    }
        
    else {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        colnames(MTM) = 'MTM'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
      
    }
start_date = start_date+1
}
sr2_5 = c('StockSplit_5',MTM = tail(Stocks$MTM,1))
output_4 = c('Loss:', 5000000-MTM)
sr2_5
output_4
tail(Stocks)

                          MTM
"StockSplit_5"             NA

[[1]]
[1] "Loss:"

$MTM
[1] -835459.881

    Date       Apple_Close Apple_AdjClose Amazon_Close Amazon_AdjClose
246 2018-12-21 37.682499   36.481171      68.872498    68.872498
247 2018-12-24 36.707500   35.537254      67.197998    67.197998
248 2018-12-26 39.292500   38.039848      73.544998    73.544998
249 2018-12-27 39.037498   37.792973      73.082001    73.082001
250 2018-12-28 39.057499   37.812336      73.901001    73.901001
251 2018-12-31 39.435001   38.177803      59.450500    59.450500
    META_Close META_AdjClose Google_Close Google_AdjClose ibm_Close  ...
246 124.949997 124.949997     979.539978   979.539978     106.061188 ...
247 124.059998 124.059998     976.219971   976.219971     102.839386 ...
248 134.179993 134.179993    1039.459961  1039.459961     106.491394 ...
249 134.520004 134.520004    1043.880005  1043.880005     108.776291 ...
250 133.199997 133.199997    1037.079956  1037.079956     108.059273 ...
251 131.089996 131.089996    1065.000000  1065.000000     147.466537 ...
    NFLX_Close NFLX_AdjClose ORCL_Close ORCL_AdjClose SAP_Close  SAP_AdjClose
246 246.389999 246.389999    25.049999  25.049999      96.139999  89.363167
247 233.880005 233.880005    24.469999  24.469999      95.000000  88.303520
248 253.669998 253.669998    25.549999  25.549999      98.379997  91.445259
249 255.570007 255.570007    24.780001  24.780001      98.989998  92.012260
250 256.079987 256.079987    24.639999  24.639999      99.199997  92.207466
251 201.070007 201.070007    23.110001  23.110001     112.389999 102.892708
    TSLA_Close TSLA_AdjClose Remaining  MTM
246 63.953999  63.953999     253.304447 5598432.84
247 59.077999  59.077999     253.304447 5510153.58
248 65.218002  65.218002     253.304447 5827844.31
249 63.226002  63.226002     253.304447 5859589.82
250 66.774002  66.774002     253.304447 5835459.88
251 64.106003  64.106003             NA         NA

### High Tech Index

In [24]:
Stocks$HTI=rowMeans(Stocks[,c('ibm_Close','MSFT_Close','Google_Close','Amazon_Close',
                              'META_Close','Apple_Close','NFLX_Close','TSLA_Close','ORCL_Close','SAP_Close')], na.rm=TRUE)

In [25]:
install.packages('reshape2')

Installing package into 'C:/Users/Saqeeb/Documents/R/win-library/4.0'
(as 'lib' is unspecified)

package 'reshape2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Saqeeb\AppData\Local\Temp\RtmpgpB277\downloaded_packages

In [27]:
update.packages()

Update? (Yes/no/cancel)  Yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  Yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  ye
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yes
Update? (Yes/no/cancel)  yers

backports :
 Version 1.1.9 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.4.1 available at https://cran.r-project.org
BH :
 Version 1.72.0-3 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.78.0-0 available at https://cran.r-project.org
bitops :
 Version 1.0-6 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.0-7 available at https://cran.r-project.org
blob :
 Version 1.2.1 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.2.3 available at https://cran.r-project.org
callr :
 Version 3.7.0 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 3.7.1 available at https://cran.r-project.org
caTools :
 Version 1.18.0 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.18.2 available at https://cran.r-project.org
checkmate :
 Version 2.0.0 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 2.1.0 available at https://cran.r-project.org
cli :
 Version 3.2.0 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 3.3.0 available at https://cran.r-project.org
clipr :
 Version 0.7.0 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 0.8.0 available at https://cran.r-project.org
colorspace :
 Version 1.4-1 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 2.0-3 available at https://cran.r-project.org
crayon :
 Version 1.3.4 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.5.1 available at https://cran.r-project.org
curl :
 Version 4.3 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 4.3.2 available at https://cran.r-project.org
data.table :
 Version 1.13.0 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.14.2 available at https://cran.r-project.org
DBI :
 Version 1.1.0 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.1.3 available at https://cran.r-project.org
devtools :
 Version 2.4.3 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 2.4.4 available at https://cran.r-project.org
digest :
 Version 0.6.25 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 0.6.29 available at https://cran.r-project.org
dplyr :
 Version 1.0.5 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.0.9 available at https://cran.r-project.org
entropy :
 Version 1.2.1 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.3.1 available at https://cran.r-project.org
evaluate :
 Version 0.14 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 0.15 available at https://cran.r-project.org
fansi :
 Version 0.4.1 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.0.3 available at https://cran.r-project.org
farver :
 Version 2.0.3 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 2.1.1 available at https://cran.r-project.org
forcats :
 Version 0.5.0 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 0.5.1 available at https://cran.r-project.org
Formula :
 Version 1.2-3 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.2-4 available at https://cran.r-project.org
fs :
 Version 1.5.0 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 1.5.2 available at https://cran.r-project.org
gdata :
 Version 2.18.0 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 2.18.0.1 available at https://cran.r-project.org
generics :
 Version 0.0.2 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 0.1.3 available at https://cran.r-project.org
globals :
 Version 0.15.1 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 0.16.0 available at https://cran.r-project.org
gplots :
 Version 3.0.4 installed in C:/Users/Saqeeb/Documents/R/win-library/4.0
 Version 3.1.3 available at https://cran.r-project.org

ERROR: Error in askYesNo("Update?"): Unrecognized response "yers"

In [26]:
library(tidyverse)
library(reshape2)

Warning message:
"package 'tidyverse' was built under R version 4.0.3"

ERROR: Error: package or namespace load failed for 'tidyverse' in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 namespace 'cli' 3.2.0 is already loaded, but >= 3.3.0 is required

In [28]:
install.packages("Rcpp")

Installing package into 'C:/Users/Saqeeb/Documents/R/win-library/4.0'
(as 'lib' is unspecified)

  There is a binary version available but the source version is later:
      binary source needs_compilation
Rcpp 1.0.8.3  1.0.9              TRUE

  Binaries will be installed
package 'Rcpp' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'Rcpp'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\Saqeeb\Documents\R\win-library\4.0\00LOCK\Rcpp\libs\x64\Rcpp.dll to C:\Users\Saqeeb\Documents\R\win-library\4.0\Rcpp\libs\x64\Rcpp.dll: Permission denied"
Warning message:
"restored 'Rcpp'"

The downloaded binary packages are in
	C:\Users\Saqeeb\AppData\Local\Temp\RtmpgpB277\downloaded_packages

In [29]:
library(Rcpp)

In [30]:

data.frame(Date=Stocks$Date, 
         HTIchange= transmute(Stocks, HTIchange=((HTI-lag(HTI))/lag(HTI))*100), 
        MTMchange = transmute(Stocks, MTMchange=((MTM-lag(MTM))/lag(MTM))*100)) %>%

reshape2::melt(id.vars="Date") %>%

ggplot(aes(x=as.Date(Date,"%Y-%m-%d"), y=value, group=variable, color=variable)) + geom_line(size=1) +
 scale_x_date(limit=c(as.Date("2018-01-01"),as.Date("2018-02-11")))

ERROR: Error in melt_dataframe(data, as.integer(id.ind - 1), as.integer(measure.ind - : function 'Rcpp_precious_remove' not provided by package 'Rcpp'

In [ ]:
data.frame(Date=Stocks$Date, 
         HTIchange= transmute(Stocks, HTIchange=((HTI-lag(HTI))/lag(HTI))*100), 
        MTMchange = transmute(Stocks, MTMchange=((MTM-lag(MTM))/lag(MTM))*100)) %>%
reshape2::melt(id.vars="Dadata, as.integer(id.ind - 1), as.integer(measure.ind - : function 'Rcpp_precious_remove' not provided by package 'Rcppdata, as.integer(id.ind - 1), as.integer(measure.ind - : function 'Rcpp_precious_remove' not provided by package 'Rcppdata, as.integer(id.ind - 1), as.integer(measure.ind - : function 'Rcpp_precious_remove' not provided by package 'Rcppdata, as.integer(id.ind - 1), as.integer(measure.ind - : function 'Rcpp_precious_remove' not provided by package 'Rcppdata, as.integer(id.ind - 1), as.integer(measure.ind - : function 'Rcpp_precious_remove' not provided by package 'Rcppdata, as.integer(id.ind - 1), as.integer(measure.ind - : function 'Rcpp_precious_remove' not provided by package 'Rcppdata, as.integer(id.ind - 1), as.integer(measure.ind - : function 'Rcpp_precious_remove' not provided by package 'Rcppte") %>%
ggplot(aes(x=Date, y=value, group=variable, color=variable)) + geom_line(size=1)

## Japanese Market

In [ ]:
jpy_close = JPY[, c('Date', 'Close')]
nrow(jpy_close)
jpy_close = rename(jpy_close, 'JPY_Close' = 'Close')
head(jpy_close)

### New Columns merge with Stocks

In [ ]:
newStocks = merge(Stocks, jpy_close, by = 'Date')
head(newStocks)

In [ ]:
newStocks$MTM_JPY = newStocks$MTM * newStocks$JPY_Close
head(newStocks)

In [ ]:
MTM_jpy <-data.frame(Date=newStocks$Date,
           HTIchange= transmute(Stocks, HTIchange=((HTI-lag(HTI))/lag(HTI))*100), 
        MTMchange = transmute(newStocks, MTMchange=((MTM-lag(MTM))/lag(MTM))*100),
        MTMchange_JPY = transmute(newStocks, MTMchange_JPY=((MTM_JPY-lag(MTM_JPY))/lag(MTM_JPY))*100))

In [ ]:
library(tidyverse)

In [ ]:
ggplot(MTM_jpy, aes(x=as.Date(Date,"%Y-%m-%d") , y=value, group=variable, color=variable)) + geom_line(size=1) +
 scale_x_date(limit=c(as.Date("2018-01-01"),as.Date("2018-02-11")))

## Strategies with Dividend

### 1. Strategy 1 every 8 days

In [ ]:
StockSplit_8 = Stocks[seq(1,nrow(Stocks),8),]
StockSplit_8$Date = as.Date(StockSplit_8$Date)
head(StockSplit_8)

In [ ]:


while(start_date <= end_date){
    if(start_date == '2018-01-02'){
          for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split/a[i])
        SharesCount[i] =  b[[i]] 
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        colnames(Remaining) = 'Remaining'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        colnames(MTM) = 'MTM'
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        
    }

    
    else if(start_date %in% StockSplit_8$Date) {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        Total = MTM + Remaining
        Remaining = Total
        split = Total / 5
        colnames(Total) = 'Total'
        colnames(MTM) = 'MTM'
        calculated_stocks = list()
        for(i in AllStocks){
           
            x = Stocks[Stocks$Date== start_date, AllStocks]
            y = Stocks[Stocks$Date== begin_date, AllStocks]
            percent_change = 100 * ((x[i] - y[i])/ y[i])
            col = paste0(i, "_PC")
            calculated_stocks[col] = percent_change
            
        }
        calculated_stocks = calculated_stocks[order(unlist(calculated_stocks))]
        calculated_stocks = head(calculated_stocks,5)
        
    
        initial_col_list = names(calculated_stocks)
        print(initial_col_list)
        initial_col_list = sub('_.*','',initial_col_list)
        initial_col_list = paste0(initial_col_list,'_Close')
        IntialStocks = initial_col_list
        SharesCount = list()
        b = list()
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split[,1]/a[i])
        SharesCount[i] =  b[[i]]
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        
        
    }
        

    else {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        colnames(MTM) = 'MTM'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
      
    }
start_date = start_date+1
}

In [ ]:
sr1_8 = c('StockSplit_8',MTM = tail(Stocks$MTM,1))
output_5 = c('Profit:', MTM-5000000)
sr1_8
output_5
tail(Stocks)

### 2. Strategy 1 every 15 days

In [ ]:
StockSplit_15 = Stocks[seq(1,nrow(Stocks),15),]
StockSplit_15$Date = as.Date(StockSplit_15$Date)
head(StockSplit_15)

In [ ]:


while(start_date <= end_date){

    if(start_date == '2018-01-02'){
          for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split/a[i])
        SharesCount[i] =  b[[i]] 
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        colnames(Remaining) = 'Remaining'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        colnames(MTM) = 'MTM'
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        
    }

    
 # CHANGE NUMBER TO DAY INTERVAL 
    else if(start_date %in% StockSplit_15$Date) {

        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        Total = MTM + Remaining
        Remaining = Total
        split = Total / 5
        colnames(Total) = 'Total'
        colnames(MTM) = 'MTM'
        calculated_stocks = list()
        for(i in AllStocks){
           
            x = Stocks[Stocks$Date== start_date, AllStocks]
            y = Stocks[Stocks$Date== begin_date, AllStocks]
            percent_change = 100 * ((x[i] - y[i])/ y[i])
            col = paste0(i, "_PC")
            calculated_stocks[col] = percent_change
            
        }
        calculated_stocks = calculated_stocks[order(unlist(calculated_stocks))]
        calculated_stocks = head(calculated_stocks,5)
        
        initial_col_list = names(calculated_stocks)
        print(initial_col_list)
        initial_col_list = sub('_.*','',initial_col_list)
        initial_col_list = paste0(initial_col_list,'_Close')
        IntialStocks = initial_col_list
        SharesCount = list()
        b = list()
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        b= floor(split[,1]/a[i])
        SharesCount[i] =  b[[i]]
        Remaining = Remaining - b*a[i]
        MTM = MTM + b*a[i]
        }
        MTM = MTM + Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        
        
    }
        
    else {
        MTM = 0
        for(i in IntialStocks) {
        a = Stocks[Stocks$Date== start_date, IntialStocks]
        MTM = MTM + SharesCount[[i]]*a[i]
        }
        colnames(MTM) = 'MTM'
        Stocks[Stocks$Date == start_date,'Remaining'] = Remaining
        Stocks[Stocks$Date == start_date,'MTM'] = MTM
      
    }
start_date = start_date+1

}
sr1_15 = c('StockSplit_15',MTM = tail(Stocks$MTM,1))
output_6 = c('Profit:', MTM-5000000)
sr1_15
output_6
tail(Stocks)

### 3. Strategy 2 every 3 days

In [ ]:
StockSplit_3 = Stocks[seq(1,nrow(Stocks),3),]
StockSplit_3$Date = as.Date(StockSplit_3$Date)
head(StockSplit_3)

In [ ]:
sr2_3 = c('StockSplit_3',MTM = tail(Stocks$MTM,1))
output_7 = c('Loss:', 5000000 - MTM)
sr2_3
output_7
tail(Stocks)

### 4. strategy 2 every 7 days

In [ ]:
StockSplit_7 = Stocks[seq(1,nrow(Stocks),7),]
StockSplit_7$Date = as.Date(StockSplit_7$Date)
head(StockSplit_7)

In [ ]:
sr2_7 = c('StockSplit_7',MTM = tail(Stocks$MTM,1))
output_8 = c('Loss:', 5000000-MTM)
sr2_7
output_8
tail(Stocks)

## Results of both strategies

In [ ]:
resultofstrategy1 = rbind(sr1_5,sr1_8,sr1_15)
resultofstrategy1

In [ ]:
resultofstrategy2 = rbind(sr2_5,sr2_3,sr2_7)
resultofstrategy2

## *By adjusting the interval of days we can maximize the MTM on 12/31/2018*