1.20-1.27 questions for HW 1

1.20

In [1]:
library(MASS)

library(HistData)

library(lattice)

library(survival)

library(Formula)

library(ggplot2)

library(Hmisc)

library(UsingR)

NameError: name 'library' is not defined

In [ ]:
sort(islands, decreasing = TRUE)[1:7]

1.21

In [ ]:
# 1.How many elements in the data set

data("primes")

In [ ]:
# 2.How many elements in the range[1,100]

length(primes[primes<=100]

##[1] 25

In [ ]:
# 3.How many elements in the range[100,1000]

length(primes[primes>=100 &primes<=1000])

## [1] 143

1.22

In [ ]:
1.

head(primes([-1])

## [1] 3 5 7 11 13 17

2.

n<-length(primes)

tail(primes[-n])

## [1] 1973 1979 1987 1993 1997 1999

3.

sum(primes[-1]-primes[-n]==2)

## [1] 61

1.23

In [ ]:
1.

data("treering")

length(treering)

## [1] 7980

2.

min(treeering)

## [1] 0

3.

max(treering)

## [1] 1.908

4.

sum(treering>1.5)

## [1] 219

1.24

In [ ]:
1.

data("mandms")

names(which(rowSums(mandms==0)==1)

## [1] "Peanut Butter"

  rownames(subset(mandms,mandms[,1]==0|mandms[,2]==0|mandms[,3]==0|mandms[,4]==0|

mandms[,5]==0|mandms[,6]==0))

## [1] "Peanut Butter"

2.

names(which(rowSums(mandms==rowMeans(mandms))==6))

## [1] "Almond" "kid minis"

rownames(subset(mandms,mandms[,1]==mandms[,2] &mandms,mandms[,2]==mandms[,3] &

  mandms,mandms[,3]==mandms[,4] &mandms,mandms[,4]==mandms[,5] &mandms,mandms[,5]==mandms[,6] &mandms,mandms[,6]==mandms[,1] ))

## [1] "Almond" "kid minis"

3.

names(which(rowSums(mandms==max(mandms))==1))

## [1] "milk chocolate"

  names(which(colSums(mandms==max(mandms))==1))

## [1] "brown"

1.25

In [ ]:
1.

data("nym.2002")

length(nym.2002$time)

## [1] 1000

2.

fastest<-min(nym.2002$time)

fastest

## [1] 147.3333

paste(fastest %/ % 60,round(fastest %% 60),sep=":")

## [1] "2:27"

3.

slowest<-max(nym.2002$time)

## [1] 566.7833

paste(slowest %/ % 60,round(slowest %% 60),sep=":")

## [1] "9.27"

1.26

In [ ]:
1.data("rivers")

max(rivers)

## [1] 3710

min(rivers)

## [1] 135

1.27

In [ ]:
data("uspop")

names(uspop)<-seq(1790,1970,by=10)

uspop

## Time Series:

## Start=1790

## End=1970

## Frequency =0.1

## 1790 1800 1810 1820 1830 1840 1850 1860 1870 1880

## 3.93 5.31 7.24 9.64 12.90 1 7.10 23.20 31.40 39.80 50.20

## 1890 1900 1910 1920 1930 1940 1950 1960 1970

## 62.90 76.00 92.00 105.70 122.80 13 1.70 151.30 179.30 203.20

2.data<-diff(uspop)

uspop[c[which.max(delta),which.max(delta)+1)]

## 1950 1960

## 151.3 179.3

max(delta)

## [1] 28

3.delta>0

## Time Series:

## Start=1790

## End=1970

## Frequency =0.1

## [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

## [15]  TRUE TRUE TRUE TRUE