In [2]:
F <- function(x) {
  if (x<1) {
    result <- 5/(x-1)^2
  } else if (x == 1) {
    result <- 2
  } else if (x>1) {
    result <- 5/(x-1)^3
  }
  print(result)
}

F(1)
F(10)
F(0.3)

[1] 2
[1] 0.006858711
[1] 10.20408

In [3]:
fibonacci<-function(n){
# initial fibonacci
prev=1
current=1
while(n>=current){
# compute next fibonacci
temp=current
current=current+prev
prev=temp
}
return (current)
}
# take n from user
# n<-as.integer(readline(prompt="Enter n: "))
n <- 10000
# print
cat("Fibonacci number greater than",n,"is:",fibonacci(n))

Fibonacci number greater than 10000 is: 10946

In [4]:
zz<-matrix(c(c(1,2,NA),c(3,4,5),6:9),nrow=2,ncol=5,byrow=TRUE)
# calculating the sum of each row
S<-apply(zz,1,sum)
S
# here calculating the average of the each coloumns
C<-colMeans(zz)
C

[1] NA 35

[1] 3.0 4.0  NA 5.5 6.5

In [5]:
salary <-
  data.frame(
    name = c("Kay", "Dave", "Jon", "Jenny", "Jim", "Eve", "Ed"),
    salary = c(60000, 100000, 50000, 80000, 30000, 40000, 20000),
    gender = factor(c("F", "M", "M", "F", "M", "F", "M"))
  )


female <- salary[which(salary$gender == 'F'),]
male <- salary[which(salary$gender == 'M'),]

# female max salary
female[unlist(lapply(names(female), function(nm)
  which.max(female[nm]$sala))), ]

# male max salary
male[unlist(lapply(names(male), function(nm)
  which.max(male[nm]$sala))), ]

  name  salary gender
4 Jenny 80000  F

  name salary gender
2 Dave 1e+05  M