# Homework 4
Muhammad Saqeeb
1. Loading Data
2. Computing Dividends

## Loading Data

In [111]:
#1 IBM
ibm <- read.csv("C:/Users/Administrator/data/IBM.csv") 
#2 MSFT
MSFT  <- read.csv("C:/Users/Administrator/data/MSFT.csv") 
#3 google
GOOG <- read.csv("C:/Users/Administrator/data/GOOG.csv") 
#4 apple
AAPL <- read.csv("C:/Users/Administrator/data/AAPL.csv") 
#5 amazon
AMZN <- read.csv("C:/Users/Administrator/data/AMZN.csv") 
#6 meta (fb)
FB <- read.csv("C:/Users/Administrator/data/META.csv") 
#use lag and lead from dplyr
library(dplyr)

## Computing Dividends

In [112]:
#Function for Daily dividened
caldiv <- function(df) {
    df %>% mutate(
        change = df$Close - lag(df$Close),
        Adj.change = df$Adj.Close - lag(df$Adj.Close),
        diff = change - Adj.change,
        dividend = diff * df$Close,
    )
}

### 1. IBM

In [113]:
x <- ibm
ibm <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend))
ibm

    Date       dividend
1   2018-01-03  118.9832649
2   2018-01-04   91.8992441
3   2018-01-05   22.7257635
4   2018-01-08   28.3656388
5   2018-01-09   10.4401689
6   2018-01-10   10.1788465
7   2018-01-11    0.5808222
8   2018-01-12  -30.6202536
9   2018-01-16   20.5951309
10  2018-01-17  143.3302555
11  2018-01-18   14.0747939
12  2018-01-19 -194.0546589
13  2018-01-22    6.6261830
14  2018-01-23  107.4392992
15  2018-01-24  -25.7676822
16  2018-01-25    2.9279964
17  2018-01-26   55.4071384
18  2018-01-29  -15.9498118
19  2018-01-30  -92.1227497
20  2018-01-31    2.3198137
21  2018-02-01  -37.3763772
22  2018-02-02  -94.8916516
23  2018-02-05 -175.5357751
24  2018-02-06   77.2806114
25  2018-02-07  -40.5886030
26  2018-02-08 -321.6290866
27  2018-02-09   48.7446936
28  2018-02-12   48.5843446
29  2018-02-13  -16.6394269
30  2018-02-14  105.3779526
... ...        ...
220 2018-11-14 -11.057136
221 2018-11-15  21.644532
222 2018-11-16   2.270895
223 2018-11-19 -21.788072
224 2018-11-20 -52.386384
225 2018-11-21  23.349562
226 2018-11-23 -23.243729
227 2018-11-26  40.723324
228 2018-11-27   8.106959
229 2018-11-28  52.503713
230 2018-11-29 -26.537456
231 2018-11-30  49.828943
232 2018-12-03  18.730490
233 2018-12-04 -64.837561
234 2018-12-06  41.137527
235 2018-12-07 -78.383222
236 2018-12-10  31.161214
237 2018-12-11  -4.168856
238 2018-12-12   4.702190
239 2018-12-13  -7.461137
240 2018-12-14 -14.304895
241 2018-12-17 -63.405473
242 2018-12-18   9.220480
243 2018-12-19  -3.681459
244 2018-12-20 -55.389957
245 2018-12-21 -33.165121
246 2018-12-24 -52.099976
247 2018-12-26  61.154174
248 2018-12-27  39.084083
249 2018-12-28 -12.183359

### 2. GOOGLE

In [114]:
x <- GOOG
GOOG <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend))
GOOG

    Date       dividend
1   2018-01-03 0
2   2018-01-04 0
3   2018-01-05 0
4   2018-01-08 0
5   2018-01-09 0
6   2018-01-10 0
7   2018-01-11 0
8   2018-01-12 0
9   2018-01-16 0
10  2018-01-17 0
11  2018-01-18 0
12  2018-01-19 0
13  2018-01-22 0
14  2018-01-23 0
15  2018-01-24 0
16  2018-01-25 0
17  2018-01-26 0
18  2018-01-29 0
19  2018-01-30 0
20  2018-01-31 0
21  2018-02-01 0
22  2018-02-02 0
23  2018-02-05 0
24  2018-02-06 0
25  2018-02-07 0
26  2018-02-08 0
27  2018-02-09 0
28  2018-02-12 0
29  2018-02-13 0
30  2018-02-14 0
... ...        ...
220 2018-11-14 0
221 2018-11-15 0
222 2018-11-16 0
223 2018-11-19 0
224 2018-11-20 0
225 2018-11-21 0
226 2018-11-23 0
227 2018-11-26 0
228 2018-11-27 0
229 2018-11-28 0
230 2018-11-29 0
231 2018-11-30 0
232 2018-12-03 0
233 2018-12-04 0
234 2018-12-06 0
235 2018-12-07 0
236 2018-12-10 0
237 2018-12-11 0
238 2018-12-12 0
239 2018-12-13 0
240 2018-12-14 0
241 2018-12-17 0
242 2018-12-18 0
243 2018-12-19 0
244 2018-12-20 0
245 2018-12-21 0
246 2018-12-24 0
247 2018-12-26 0
248 2018-12-27 0
249 2018-12-28 0

### 3. AMAZON

In [115]:
x <- AMZN
AMZN <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend))
AMZN

    Date       dividend
1   2018-01-03 0
2   2018-01-04 0
3   2018-01-05 0
4   2018-01-08 0
5   2018-01-09 0
6   2018-01-10 0
7   2018-01-11 0
8   2018-01-12 0
9   2018-01-16 0
10  2018-01-17 0
11  2018-01-18 0
12  2018-01-19 0
13  2018-01-22 0
14  2018-01-23 0
15  2018-01-24 0
16  2018-01-25 0
17  2018-01-26 0
18  2018-01-29 0
19  2018-01-30 0
20  2018-01-31 0
21  2018-02-01 0
22  2018-02-02 0
23  2018-02-05 0
24  2018-02-06 0
25  2018-02-07 0
26  2018-02-08 0
27  2018-02-09 0
28  2018-02-12 0
29  2018-02-13 0
30  2018-02-14 0
... ...        ...
220 2018-11-14 0
221 2018-11-15 0
222 2018-11-16 0
223 2018-11-19 0
224 2018-11-20 0
225 2018-11-21 0
226 2018-11-23 0
227 2018-11-26 0
228 2018-11-27 0
229 2018-11-28 0
230 2018-11-29 0
231 2018-11-30 0
232 2018-12-03 0
233 2018-12-04 0
234 2018-12-06 0
235 2018-12-07 0
236 2018-12-10 0
237 2018-12-11 0
238 2018-12-12 0
239 2018-12-13 0
240 2018-12-14 0
241 2018-12-17 0
242 2018-12-18 0
243 2018-12-19 0
244 2018-12-20 0
245 2018-12-21 0
246 2018-12-24 0
247 2018-12-26 0
248 2018-12-27 0
249 2018-12-28 0

### 4. FACEBOOK

In [116]:
x <- FB
FB <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend))
FB

    Date       dividend
1   2018-01-03 0
2   2018-01-04 0
3   2018-01-05 0
4   2018-01-08 0
5   2018-01-09 0
6   2018-01-10 0
7   2018-01-11 0
8   2018-01-12 0
9   2018-01-16 0
10  2018-01-17 0
11  2018-01-18 0
12  2018-01-19 0
13  2018-01-22 0
14  2018-01-23 0
15  2018-01-24 0
16  2018-01-25 0
17  2018-01-26 0
18  2018-01-29 0
19  2018-01-30 0
20  2018-01-31 0
21  2018-02-01 0
22  2018-02-02 0
23  2018-02-05 0
24  2018-02-06 0
25  2018-02-07 0
26  2018-02-08 0
27  2018-02-09 0
28  2018-02-12 0
29  2018-02-13 0
30  2018-02-14 0
... ...        ...
221 2018-11-15 0
222 2018-11-16 0
223 2018-11-19 0
224 2018-11-20 0
225 2018-11-21 0
226 2018-11-23 0
227 2018-11-26 0
228 2018-11-27 0
229 2018-11-28 0
230 2018-11-29 0
231 2018-11-30 0
232 2018-12-03 0
233 2018-12-04 0
234 2018-12-06 0
235 2018-12-07 0
236 2018-12-10 0
237 2018-12-11 0
238 2018-12-12 0
239 2018-12-13 0
240 2018-12-14 0
241 2018-12-17 0
242 2018-12-18 0
243 2018-12-19 0
244 2018-12-20 0
245 2018-12-21 0
246 2018-12-24 0
247 2018-12-26 0
248 2018-12-27 0
249 2018-12-28 0
250 2018-12-31 0

### 5. MICROSOFT

In [117]:
x <- MSFT
MSFT <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend))
MSFT

    Date       dividend
1   2018-01-03   1.8518621
2   2018-01-04   3.5497325
3   2018-01-05   5.1087586
4   2018-01-08   0.4256862
5   2018-01-09  -0.2840684
6   2018-01-10  -1.8847050
7   2018-01-11   1.2290683
8   2018-01-12   7.3027582
9   2018-01-16  -5.9215703
10  2018-01-17   8.6514568
11  2018-01-18  -0.1911021
12  2018-01-19  -0.4840200
13  2018-01-22   7.9097907
14  2018-01-23   1.4289531
15  2018-01-24  -0.3929896
16  2018-01-25   2.5231943
17  2018-01-26   8.7269807
18  2018-01-29  -0.7044000
19  2018-01-30  -5.8676597
20  2018-01-31  11.5651875
21  2018-02-01  -3.7913258
22  2018-02-02 -12.2083919
23  2018-02-05 -17.8354000
24  2018-02-06  16.3077938
25  2018-02-07  -8.2649096
26  2018-02-08 -20.9704373
27  2018-02-09  14.9904236
28  2018-02-12   4.5390342
29  2018-02-13   3.3747335
30  2018-02-14 -31.8886573
... ...        ...
220 2018-11-14 -54.1891885
221 2018-11-15   9.2291910
222 2018-11-16   4.0731118
223 2018-11-19 -14.2978927
224 2018-11-20 -11.0260759
225 2018-11-21   5.3785270
226 2018-11-23  -0.1540897
227 2018-11-26  13.4825092
228 2018-11-27   2.6704645
229 2018-11-28  16.4740960
230 2018-11-29  -3.8185243
231 2018-11-30   2.8909023
232 2018-12-03   5.0113195
233 2018-12-04 -14.4301210
234 2018-12-06   2.7265835
235 2018-12-07 -17.0602936
236 2018-12-10  11.0978005
237 2018-12-11   4.0446516
238 2018-12-12   1.9907100
239 2018-12-13   1.5072359
240 2018-12-14 -13.5029204
241 2018-12-17 -12.0347345
242 2018-12-18   4.1827131
243 2018-12-19  -1.0813830
244 2018-12-20  -8.2418001
245 2018-12-21 -11.9985002
246 2018-12-24 -14.3752508
247 2018-12-26  24.0836167
248 2018-12-27   2.3350320
249 2018-12-28  -2.9510644

### 6. APPLE

In [118]:
x <- AAPL
AAPL <- filter(select(caldiv(x), Date, dividend), ! is.na(dividend))
AAPL

    Date       dividend
1   2018-01-03 -0.01515624
2   2018-01-04  0.39987233
3   2018-01-05  0.99566250
4   2018-01-08 -0.32703703
5   2018-01-09 -0.01037263
6   2018-01-10 -0.02008692
7   2018-01-11  0.50068732
8   2018-01-12  0.92564941
9   2018-01-16 -0.45787377
10  2018-01-17  1.50511169
11  2018-01-18  0.08290775
12  2018-01-19 -0.41268877
13  2018-01-22 -0.74596650
14  2018-01-23  0.02075794
15  2018-01-24 -1.41893479
16  2018-01-25 -1.53652502
17  2018-01-26  0.19826556
18  2018-01-29 -1.72175804
19  2018-01-30 -0.47757594
20  2018-01-31  0.22259817
21  2018-02-01  0.16945780
22  2018-02-02 -3.37371000
23  2018-02-05 -1.81223249
24  2018-02-06  3.07878079
25  2018-02-07 -1.60748507
26  2018-02-08 -1.96714675
27  2018-02-09 -5.37632017
28  2018-02-12  2.71009789
29  2018-02-13  0.70888057
30  2018-02-14  1.34075920
... ...        ...
221 2018-11-15  1.75786162
222 2018-11-16  0.81800293
223 2018-11-19 -2.84045191
224 2018-11-20 -3.13139556
225 2018-11-21 -0.07080039
226 2018-11-23 -1.54104783
227 2018-11-26  0.81084795
228 2018-11-27 -0.13264020
229 2018-11-28  2.41622758
230 2018-11-29 -0.49726374
231 2018-11-30 -0.34528443
232 2018-12-03  2.29772854
233 2018-12-04 -2.86220137
234 2018-12-06 -0.68586336
235 2018-12-07 -2.09163491
236 2018-12-10  0.37528242
237 2018-12-11 -0.32634122
238 2018-12-12  0.15891173
239 2018-12-13  0.62973705
240 2018-12-14 -1.80298730
241 2018-12-17 -0.50329581
242 2018-12-18  0.70492567
243 2018-12-19 -1.66062614
244 2018-12-20 -1.26879391
245 2018-12-21 -1.83204774
246 2018-12-24 -1.14094251
247 2018-12-26  3.23793775
248 2018-12-27 -0.31725775
249 2018-12-28  0.02491868
250 2018-12-31  0.47460024