Quiz 2 Muhammad Saqeeb

## 1

In [2]:
#1
library("dplyr")

Warning message:
"package 'dplyr' was built under R version 4.0.4"
Warning message:
"replacing previous import 'lifecycle::last_warnings' by 'rlang::last_warnings' when loading 'tibble'"

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [4]:
mtcars[2,3]

[1] 160

## 2

In [5]:
#1
mtcars$hp

 [1] 110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66  52
[20]  65  97 150 150 245 175  66  91 113 264 175 335 109

## 3

In [7]:
#1
mylist=list(sex = c(1,1,1,1,2,2,2,2,2,2), smoking = c(1,0,1,0,1,0,0,0,1,1), age=c(21:30))

mylist

$sex
 [1] 1 1 1 1 2 2 2 2 2 2

$smoking
 [1] 1 0 1 0 1 0 0 0 1 1

$age
 [1] 21 22 23 24 25 26 27 28 29 30

In [8]:
lapply(mylist, function(kk){ kk*2 })

$sex
 [1] 2 2 2 2 4 4 4 4 4 4

$smoking
 [1] 2 0 2 0 2 0 0 0 2 2

$age
 [1] 42 44 46 48 50 52 54 56 58 60

In [9]:
sapply(mylist, min)

    sex smoking     age
      1       0      21

In [10]:
lapply(mylist, min)

$sex
[1] 1

$smoking
[1] 0

$age
[1] 21

In [ ]:
#There is little difference between the results in that sapply is organized in a vector while lapply is organized in a List.

## 4

In [12]:
#1 
alphabet<-data.frame(index=1:26, symbol=LETTERS, color=c(rep('red', 10), rep('green',6), rep('blue', 10)))
head(alphabet)

  index symbol color
1 1     A      red
2 2     B      red
3 3     C      red
4 4     D      red
5 5     E      red
6 6     F      red

In [ ]:
#1
var? <- read.table("C:/Desktop/test.txt")           
#2  var? is a data frame

## 5

In [13]:
zz=matrix(c(c(1,2,NA), c(3,4,5), 6:9), nrow = 2, ncol = 5, byrow = TRUE)

zz

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    NA   3    4
[2,] 5    6     7   8    9

In [14]:
zz[is.na(zz)] = 0

zz

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    0    3    4
[2,] 5    6    7    8    9

In [15]:
apply(zz,1,sum)

[1] 10 35

In [16]:
apply(zz,2,mean)

[1] 3.0 4.0 3.5 5.5 6.5

## 6

In [17]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [21]:
mtcars %>% select(hp,mpg, cyl,disp,drat,wt,qsec,am,gear,carb, vs)

                    hp  mpg  cyl disp  drat wt    qsec  am gear carb vs
Mazda RX4           110 21.0 6   160.0 3.90 2.620 16.46 1  4    4    0
Mazda RX4 Wag       110 21.0 6   160.0 3.90 2.875 17.02 1  4    4    0
Datsun 710           93 22.8 4   108.0 3.85 2.320 18.61 1  4    1    1
Hornet 4 Drive      110 21.4 6   258.0 3.08 3.215 19.44 0  3    1    1
Hornet Sportabout   175 18.7 8   360.0 3.15 3.440 17.02 0  3    2    0
Valiant             105 18.1 6   225.0 2.76 3.460 20.22 0  3    1    1
Duster 360          245 14.3 8   360.0 3.21 3.570 15.84 0  3    4    0
Merc 240D            62 24.4 4   146.7 3.69 3.190 20.00 0  4    2    1
Merc 230             95 22.8 4   140.8 3.92 3.150 22.90 0  4    2    1
Merc 280            123 19.2 6   167.6 3.92 3.440 18.30 0  4    4    1
Merc 280C           123 17.8 6   167.6 3.92 3.440 18.90 0  4    4    1
Merc 450SE          180 16.4 8   275.8 3.07 4.070 17.40 0  3    3    0
Merc 450SL          180 17.3 8   275.8 3.07 3.730 17.60 0  3    3    0
Merc 450SLC         180 15.2 8   275.8 3.07 3.780 18.00 0  3    3    0
Cadillac Fleetwood  205 10.4 8   472.0 2.93 5.250 17.98 0  3    4    0
Lincoln Continental 215 10.4 8   460.0 3.00 5.424 17.82 0  3    4    0
Chrysler Imperial   230 14.7 8   440.0 3.23 5.345 17.42 0  3    4    0
Fiat 128             66 32.4 4    78.7 4.08 2.200 19.47 1  4    1    1
Honda Civic          52 30.4 4    75.7 4.93 1.615 18.52 1  4    2    1
Toyota Corolla       65 33.9 4    71.1 4.22 1.835 19.90 1  4    1    1
Toyota Corona        97 21.5 4   120.1 3.70 2.465 20.01 0  3    1    1
Dodge Challenger    150 15.5 8   318.0 2.76 3.520 16.87 0  3    2    0
AMC Javelin         150 15.2 8   304.0 3.15 3.435 17.30 0  3    2    0
Camaro Z28          245 13.3 8   350.0 3.73 3.840 15.41 0  3    4    0
Pontiac Firebird    175 19.2 8   400.0 3.08 3.845 17.05 0  3    2    0
Fiat X1-9            66 27.3 4    79.0 4.08 1.935 18.90 1  4    1    1
Porsche 914-2        91 26.0 4   120.3 4.43 2.140 16.70 1  5    2    0
Lotus Europa        113 30.4 4    95.1 3.77 1.513 16.90 1  5    2    1
Ford Pantera L      264 15.8 8   351.0 4.22 3.170 14.50 1  5    4    0
Ferrari Dino        175 19.7 6   145.0 3.62 2.770 15.50 1  5    6    0
Maserati Bora       335 15.0 8   301.0 3.54 3.570 14.60 1  5    8    0
Volvo 142E          109 21.4 4   121.0 4.11 2.780 18.60 1  4    2    1

In [26]:
filter(mtcars, hp > 100)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [28]:
head(arrange(mtcars, mpg))

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
Maserati Bora       15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

In [20]:
head(mutate(mtcars, wt1000 = wt * 1000))

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb wt1000
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    2620
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    2875
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    2320
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    3215
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    3440
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    3460